<div class="container">
    <mat-tab-group>
        <mat-tab label="Регистрация">
            <form [formGroup]="signupForm">
                <!-- <h1 class="login">Вход</h1> -->
                <div class="form-field">
                    <tui-input formControlName="email">
                        Введите почту
                        <input
                            tuiTextfield
                            type="email"
                            placeholder="Почта"
                        />
                    </tui-input>
                    <div *ngIf = "sfc.email.touched && sfc.email.invalid">
                        <div *ngIf = "sfc.email.errors?.required">Нужно ввести почту...</div>
                        <div *ngIf = "sfc.email.errors?.minlength">Почта должна содержать минимум 5 символов</div>
                    </div>
                </div>
                <!-- <div class="form-field">
                    <tui-input-password
                        formControlName="password"
                        class="tui-space_top-2"
                    >
                        Введите пароль
                        <input
                            tuiTextfield
                            placeholder="Пароль"
                        />
                    </tui-input-password>
            
                    <div *ngIf = "fc.password.touched && fc.password.invalid">
                        <div *ngIf = "fc.password.errors?.required">Нужно ввести пароль...</div>
                        <div *ngIf = "fc.password.errors?.minlength">Пароль должен содержать не менее 4-ex символов</div>
                    </div>
                </div> -->
        
                <div class="form-field">
                    <tui-input formControlName="role">
                        Введите роль
                        <input
                            tuiTextfield
                            placeholder="Роль"
                        />
                    </tui-input>
                    <div *ngIf = "sfc.role.touched && sfc.role.invalid">
                        <div *ngIf = "sfc.role.errors?.required">Нужно ввести роль...</div>
                    </div>
                </div>
        
                <button
                    tuiButton
                    type="submit"
                    class="tui-space_right-3 tui-space_bottom-3 btn"
                    [disabled]="signupForm.invalid"
                    (click)="signup()"
                >
                    Войти
                </button>
            </form>
        </mat-tab>
        <mat-tab label="Вход">
            <form [formGroup]="loginForm">
                <!-- <h1 class="login">Вход</h1> -->
                <div class="form-field">
                    <tui-input formControlName="email">
                        Введите почту
                        <input
                            tuiTextfield
                            type="email"
                            placeholder="Почта"
                        />
                    </tui-input>
                    <div *ngIf = "lfc.email.touched && lfc.email.invalid">
                        <div *ngIf = "lfc.email.errors?.required">Нужно ввести почту...</div>
                        <div *ngIf = "lfc.email.errors?.minlength">Почта должна содержать минимум 5 символов</div>
                    </div>
                </div>
        
                <button
                    tuiButton
                    type="submit"
                    class="tui-space_right-3 tui-space_bottom-3 btn"
                    [disabled]="loginForm.invalid"
                    (click)="login()"
                >
                    Войти
                </button>
            </form>
        </mat-tab>
    </mat-tab-group>
</div>


