<div id="container">
    <div id="menu-container">
        <h2>Основная таблица</h2>
        <p>Здесь отображается весь список отчетов”</p>

        <div class="btn-container">
            <button
            tuiButton
            type="button"
            appearance="primary"
            class="tui-space_right-3 tui-space_bottom-3 btn"
            >
            Для красоты
            </button>
                
            <button
            tuiButton
            type="button"
            appearance="primary"
            class="tui-space_right-3 tui-space_bottom-3 btn"
            (click)="exportUsers()"
            >
            Выгрузить список
            </button>
        </div>
        
            <table
            tuiTable
            [columns]="columns"
            class="table-container "
            #tableOfInfo
            id="table"
            >
            <thead>
                <tr tuiThGroup>
                    <th
                        *tuiHead="'id'"
                        tuiTh
                        (click)="sortData()"
                    >
                        Id
                    </th>
                    <th
                        *tuiHead="'title'"
                        tuiTh
                        (click)="sortData()"
                    >
                        Название
                    </th>
                    <th
                        *tuiHead="'filePath'"
                        tuiTh
                        (click)="sortData()"
                    >
                        Путь
                    </th>
                    <th
                        *tuiHead="'status'"
                        tuiTh
                        [sorter]="null"
                        (click)="sortData()"
                    >
                        Статус
                    </th>
                    <th
                        *tuiHead="'updatedAt'"
                        tuiTh
                        [sorter]="null"
                        (click)="sortData()"
                    >
                        Дата
                    </th>
                    <th
                        *tuiHead="'id'"
                        tuiTh
                        [sorter]="null"
                        (click)="sortData()"
                    >
                        Индекс
                    </th>
                    <th
                        *tuiHead="'login'"
                        tuiTh
                        [sorter]="null"
                        (click)="sortData()"
                    >
                        Логин
                    </th>
                    <th
                    *tuiHead="'actions'"
                    tuiTh
                    [sorter]="null"
                    (click)="sortData()"
                    >
                    Действия
                    </th>
                </tr>
            </thead>
            <tbody
                *tuiLet="post | tuiTableSort as sortedPosts"
                tuiTbody
                [data]="sortedPosts"
            >
                <tr
                    *ngFor="let item of sortedPosts | search: searchText | paginate: {itemsPerPage: 5, currentPage: p}; let index = index"
                    tuiTr
                >
                    <td
                        *tuiCell="'id'"
                        tuiTd
                    >
                        {{ index + 1 }}. {{ item.id }}
                    </td>
                    <td
                        *tuiCell="'title'"
                        tuiTd
                    >   
                        <div [class]="item.title">{{ item.title }}</div>
                    </td>
                    <td
                        *tuiCell="'filePath'"
                        tuiTd
                    >
                        <div [class]="item.filePath">{{ item.filePath }}</div>
                    </td>
                    <td
                        *tuiCell="'status'"
                        tuiTd
                    >   
                        <div [class]="item.status">{{ item.status}}</div>
                    </td>
                    <td
                    *tuiCell="'updatedAt'"
                    tuiTd
                >   
                    <div [class]="item.updatedAt">{{ item.updatedAt}}</div>
                    </td>
                    <td
                    *tuiCell="'id'"
                    tuiTd
                >   
                    <div [class]="item.scientist.id">{{ item.scientist.id}}</div>
                    </td>
                    <td
                    *tuiCell="'login'"
                    tuiTd
                >   
                    <div [class]="item.scientist.login">{{ item.scientist.login}}</div>
                    </td>
                    <td
                        *tuiCell="'actions'"
                        tuiTd
                    >   
                        <button
                            tuiIconButton
                            appearance="flat"
                            size="s"
                            icon="tuiIconTrash"
                            title="Remove"
                            shape="rounded"
                            type="button"
                            class="remove"
                            (click)="delete(item.id, item)"
                        ></button>
                        <button
                            tuiIconButton
                            appearance="flat"
                            size="s"
                            icon="tuiIconDownload"
                            title="Download"
                            shape="rounded"
                            type="button"
                            class="download"
                            (click)="downloadData(item.id)"
                        ></button>
                        <form>
                            <input type="checkbox" name="data">
                        </form>
                    </td>
                </tr>
            </tbody>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </table>    
    </div>
</div>
